@model Foodiee.Models.UserReg
<style>
	.card {
		border: 2px solid;
		padding: 20px;
		margin: 10px;
		border-radius: 8px;
		background-color: white;
		border-color: darkgoldenrod;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
</style>
<form method="post">
	<input type="text" name="userid" />
	<input type="submit" />
</form>


<div class="row text-center">
	@{
		if (Model != null)
		{
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">Users</div>
						<div class="card-body">
							<div>User id : @Model.UserId</div>
							<div>Name : @Model.Fullname</div>
							<div>User Name : @Model.Username</div>
							@* <div>@i.Password</div> *@
							<div>@Model.Email</div>
							<div>User Type : User</div>
							<div>Mobile number : @Model.Phone</div>
							<div>Address : @Model.Area</div>
							<div>City : @Model.City</div>
							@* <div>@i.Sq1</div>
					<div>@i.Sq2</div> *@
						</div>
						<footer>
						<a href="@Url.Action("UpdateUser","Admin", new { id = Model.UserId })" 
							class="btn btn-info">Update</a>
						<a href="@Url.Action("DeleteUser", "Admin", new { id = Model.UserId })"
						   class="btn btn-danger">Delete</a>

						</footer>
					</div>
				</div>
		}
		else
		{
			<div>NoData Found</div>
		}

	}
</div>